.assistant-container {
    width: 4vw;
    height: 4vw;
    min-width: 80px;
    min-height: 80px;
    position: fixed;
    bottom: 30px;
    left: 50px;
    display: flex;
    gap: 50px;
    background-color: var(--pastel-yellow);
    box-shadow: 0 0 10px black;
    border-radius: 100px;
    padding: 10px;
    transition: width 0.3s ease;
    overflow: hidden;
}
.extended {
    width: 45vw;
}

.assistant-image-container {
    width: 80px;
    height: auto;
    border-radius: 60px;
}

.start-task-btn{
    border-radius: 100px; 
    cursor: pointer;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    padding: 12.5px 30px;
    margin: 20px;
    margin-top: 40px;
    margin-left: 250px;
    border:0;
  }
  
  .start-task-btn:hover{
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .start-task-btn:active {
      background-color: #3d94cf;
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      box-shadow: none;
      transform: scale(0.98);
    }

.pulse {
    width: 80px;
    height: 80px;
    /* background-color: var(--mint); */
    background-color: #2f5c72;
    position: relative;

    border-radius: 50px ;

    animation: pulse 1.5s infinite;
}
.pulse::before {
    content: "";
    width: 75px; 
    height: 75px;
    background-color: var(--pastel-yellow) ;
    border-radius: 50%; 
    position: absolute;
    top: 2.5px; 
    left: 2.5px;
}

.assistant-image {
    width: 80px; 
    height: 100%; 
    object-fit: contain;
    
}

.img-rltv {
    position: relative;
    /* margin-bottom: 80px; */
    bottom: 80px;
}

.assistant-info-container {
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.assistant-info-container p{
    margin: 0;
}

.hidden {
    display: none;
}

.assistant-info-container:not(.hidden) {
    opacity: 1;
    animation: fadeIn .3s forwards;
}

.assistant-modal {
    width: 80vw;
    height: 80vh;
    background-color: var(--pastel-yellow);
    overflow: auto;
    padding: 20px;
    transition: all 1.5s ease-in-out;
}

.assistant-modal::backdrop {
    background-color: black;
    opacity: .3;
}

.assistant-modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* TASK SIDE */
.task-container {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid black; */
    overflow: auto;
  
}

.task-cell {
    width: 30%;
    height: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 25px;
    margin-right: 0;
    border: solid black;
    padding: 5 10 10 10px;
    cursor: pointer;
}

.task-cell title {
    text-align: justify;
}

.task-cell p {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 1.4rem; 
    margin: 0px 0;
    /* border: 1px solid black;  */

}

/* DESCRIPTION SIDE */

.task-description {
    display: none;
    position: fixed;
    top: 20%;
    left: 45%;  
    width: 600px; /* Adjust the width as needed */
    padding: 10px;
    border: black;
    background-color: #ffffff00;
    text-align: justify;
    cursor: default;
}

.header {
    font-size: 1.4rem;
}

.hr-line {
    inline-size: 30%;
    height: 0;
    border: 1px solid black;
    margin: 13px;
}

.vr-line {
    height: 90%;
    width: 0px;
    z-index: 1;
    border: 1px solid black;
}


@keyframes pulse {
    0% {
        transform: scale(.2); /* Initial size */
        opacity: 1;
    }

    100% {
        transform: scale(1.4); /* Back to the initial size */
        opacity: .5;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    1000% { opacity: 1; }
}


