@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

:root {
  --light-lime: #abd699;
  --fresh-lemon: #ffe26a;
  --pastel-yellow: #fef9db;
  --teal: #75c9b7;
  --mint: #c7ddcc;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;  
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  
  background: linear-gradient(130deg, var(--light-lime), var(--teal));  
  /* background: var(--teal);   */
}

p {
  margin: 0;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
}

.overlay {
  background-color: rgba(0, 0, 0, .2);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.assistant-container {
  width: 300px;
  height: 300px;
  margin: 50px 0 140px 0;
  position: relative;
  
  /* background-color: blue; */
}

.assistant-container::after {
  border-radius: 50%;
  content: "";
  width: 300px;
  height: 40px;
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  bottom: -90px;
  animation: shadow-define ease-in-out infinite 2.5s;
}
.assistant {
  animation: float ease-in-out infinite 2.5s;
  
  /* background-color: red; */
}

.asst-icon {
  width: 100%;
  height: 100%;
}

.dialogue-box {
  width: 1400px;
  height: 180px; 
  background-color: var(--pastel-yellow);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
  padding: 15px 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  cursor: pointer;
}
.dialogue-text {
  font-family: monospace;
  font-size: 1.8rem;
  overflow: hidden;
  /* border: 2px solid black;*/
  white-space: wrap;
  width: 96.5%;
  height: 100%;
  line-height: 2.3rem;
  /* text-align: justify; */
}
.dialogue-down {
  position: absolute;
  /* background-color: red; */
  right: 30px;
  bottom: 20px;
  width: 30px;
  height: 30px;

  animation: float-s ease-in-out infinite 1s;
}

@keyframes float {
  0% { transform: translateY(13px); }
  50% { transform: translateY(-13px); }
  100% { transform: translateY(13px); }
}
@keyframes float-s {
  0% { transform: translateY(2px); }
  50% { transform: translateY(-2px); }
  100% { transform: translateY(2px); }
}

@keyframes shadow-define {
  0% {width: 300px; transform: none; opacity: .7;}
  50% {width: 280px; transform: translateX(10px); opacity: .5;}
  100% {width: 300px; transform: none; opacity: .7;}
}