.game-container {
    position: relative;
}

#simCanvas {
    background-color: var(--darkMode-green1);
    /* background-color: var(--pastel-yellow); */

    /* border: 3px solid black; */
    border-radius: 30px
}

/* TABLE INDICATORS */
.rotate-wrapper {
    width: 600px;
    height: 50px;   
    position: absolute;
    bottom: 30;
    left: 30;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

} 

.arrow {
    height: 100%;
}

#panelIndicator, #compLabel, #compName {
    text-align: center;
    margin: 5px 0;
}

#left, #right {
    visibility: hidden;
}